/*************** COMMON ROULES ***************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    max-width: 1440px;
}

#site_header, #site_main, #site_footer{
    min-width: 1440px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/*************** DEBUG ***************/

    /****** debug generico ******/
#debug #block_menu{
    height: 100px;
    background-color: #0061FF;
    margin-bottom: 50px;
    border: 1px solid black;
}

#debug .blocks{
    background-color: grey;
    height: 500px;
    margin-bottom: 50px;
    border: 1px solid black;
}

#debug .text_block{
    height: 85px;
    background-color: bisque;
    border: 1px solid black;
}

#debug #block_intro{
    height: 425px;
    background-color: bisque;
    border: 1px solid black;
}

#debug .block{
    height: 420px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

#debug #block_team{
    height: 414px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

#debug #block_footer{
    height: 500px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

    /****** debug header ******/

/* debug block_menu */
#debug #col_sx{
    background-color: bisque;
    height: 100px;
}

/* debug block_intro */
#debug #col_intro_s{
    background-color: green;
    height: 200px;
    border: 1px solid black;
}

#debug #col_intro_lg{
    height: 225px;
    background-color: green;
    border: 1px solid black;
}

    /****** debug main ******/
#debug .col{
    height: 212px;
    background-color: green;
}

#debug #col_piani_big{
    height: 212px;
    background-color: green;
    border: 1px solid black;
}

/* debug community */
#debug #col_community_img{
    height: 300px;
    background-color: #0061FF;
}

#debug #col_community_text{
    height: 300px;
    background-color: #0061FF;
}

/* debug team */
#debug .col_team{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

#debug #col_team_lg{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

#debug #col_team_big{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

    /****** debug footer ******/
#debug .col_footer{
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
}

#debug #col_footer_lg{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

/*************** UTILITY ***************/

:root{
    --primary_color: #FFFFFF;
    --secondary_color: #B4D0E7;
    --black:#000000;
    --action: #0061FF;
}

.margin_auto{
    margin: 0 auto;
}

.margin_left{
    margin-left: 15px;
}

.special_margin{
    margin: 0 5.96px;
}

.special_border{
    border: 1px solid grey;
}

.display{
    display: inline-block;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.width20{
    width: 20%;
}

.width30{
    width: 30%;
}

.width33{
    width: 33%;
}

.width40{
    width: 40%;
}

.width50{
    width: 50%;
}

.width60{
    width: 60%;
}

.width67{
    width: 67%;
}

.width83{
    width: 83%;
}

.width100{
    width: 100%;
}

/*************** HEADER ***************/
/* barra del menu */
.menu_action_sx  a{
    font-size: 16px;
    color: var(--black);
    margin-left: 30px;
}

/* col_sx */
#col_sx img{
    vertical-align: middle;
    margin: 20px;
}

/* col_dx */
.menu_action_dx{
    margin: 20px 30px 0 150px;
}

.menu_action_dx  a{
    font-size: 16px;
    color: var(--black);
    margin-left: 30px;
}

.btn_menu_dx > h6{
    font-size: 14px;
    text-align: center;
    color: var(--black);
    background-color: var(--action);
    height: 25px;
    width: 60px;
    margin-left: 15px;  
}

/*************** MAIN ***************/
/* block_generici */
.blocks{
    position: relative;
    margin-top: 200px;
}

/* block_intro */
.blocks_intro{
    position: relative;
    background-color: var(--secondary_color);
    height: 690px;
}

#block_intro{
    position: absolute;
    width: 83%;
    left: 50%;
    transform: translate(-50%, -0%);
}

#testo_blocco_intro > h1{
    font-size: 76px;
    color: var(--black);
    margin: 50px 0 50px;
}

#col_intro_s > p{
    font-size: 16px;
    color: var(--black);
}

/* block_piani */
.testo_blocco  h2{
    font-size: 40px;
    color: var(--black);
}

.radio{
    margin: 40px 0;
}

.col{
    width: 33%;
    border: 1px solid black;
}

#titolo_col h6{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid grey ;
}

/* block_community */
#col_community_img{
    height: 529px;
}

#col_community_text{
    padding: 10px 150px 0 80px;
}

#col_community_text h2{
    font-size: 25px;
}

#col_community_text > h2{
    margin: 25px;
}

#col_community_text > p{
    margin: 25px;
}

#btn_community{
    width: 150px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    margin-left: 25px;
    color: black;
}

#btn_community a{
    color: var(--black);
}

/* operazioni */

.testo_operazioni h5{
    font-size: 24px;
    color: var(--black);
}

.testo_operazioni > h5, p{
    padding: 0 40px 20px 40px;
}

/* block_team */

/* block_faq */

/*************** FOOTER ***************/

#block_footer{
    width: 70%;
    margin-left: 7.5%;
}
