/*************** COMMON ROULES ***************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    max-width: 1440px;
}

#site_header, #site_main, #site_footer{
    min-width: 1440px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/*************** DEBUG ***************/

    /****** debug generico ******/
#debug #block_menu{
    height: 100px;
    background-color: #0061FF;
    margin-bottom: 50px;
    border: 1px solid black;
}

#debug .blocks{
    background-color: grey;
    height: 500px;
    margin-bottom: 500px;
    border: 1px solid black;
}

#debug .blocks_footer{
    background-color: black;
    height: 500px;
    margin-bottom: 500px;
    border: 1px solid black;
}

#debug #text_block_team{
    height: 150px;
    background-color: bisque;
    border: 1px solid black;
}

#debug #block_intro{
    height: 425px;
    background-color: bisque;
    border: 1px solid black;
}

#debug .block{
    height: 420px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

#debug #block_team{
    height: 414px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

#debug #block_footer{
    height: 500px;
    background-color: rgb(187, 227, 86);
    border: 1px solid black;
}

    /****** debug header ******/

/* debug block_menu */
#debug #col_sx{
    background-color: bisque;
    height: 100px;
}

/* debug block_intro */
#debug #col_intro_s{
    background-color: green;
    height: 200px;
    border: 1px solid black;
}

#debug #col_intro_lg{
    height: 225px;
    background-color: green;
    border: 1px solid black;
}

    /****** debug main ******/
#debug .col{
    height: 212px;
    background-color: green;
}

#debug #col_piani_big{
    height: 212px;
    background-color: green;
    border: 1px solid black;
}

/* debug community */
#debug #col_community_img{
    height: 300px;
    background-color: #0061FF;
}

#debug #col_community_text{
    height: 300px;
    background-color: #0061FF;
}

/* debug team */
#debug .col_team{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

#debug #col_team_lg{
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

#debug #col_team_big{
    border: 1px solid black;
}

    /****** debug footer ******/
#debug .col_footer{
    height: 300px;
    border: 1px solid white;
}

#debug #col_footer_lg{
    height: 200px;
    border: 1px solid white;
}

/*************** UTILITY ***************/

:root{
    --primary_color: #FFFFFF;
    --secondary_color: #B4D0E7;
    --black:#000000;
    --action: #0061FF;
    --square_1_team: #A2D39B;
    --square_2_team: #61082B;
    --square_3_team: #0093CE;
    --square_4_team: #FF1C1C;
    --square_5_team: #D5001F;
    --square_6_team: #B4D0E7;
    --square_7_team: #0D2481;
    --square_8_team: #FFD830;
}

.margin_auto{
    margin: 0 auto;
}

.margin_left{
    margin-left: 15px;
}

.special_margin{
    margin: 0 5.96px;
}

.special_border{
    border: 1px solid grey;
}

.display{
    display: inline-block;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.width20{
    width: 20%;
}

.width30{
    width: 30%;
}

.width33{
    width: 33%;
}

.width40{
    width: 40%;
}

.width50{
    width: 50%;
}

.width60{
    width: 60%;
}

.width67{
    width: 67%;
}

.width83{
    width: 83%;
}

.width100{
    width: 100%;
}

.square{
    height: 214.4px;
}

.logo_img_team{
    width: 150px;
    height: 212.4px;
    display: block;
    margin: auto;
    object-fit: contain;
    filter: invert(1);
}

/*************** HEADER ***************/
/* barra del menu */
.menu_action_sx  a{
    font-size: 16px;
    color: var(--black);
    margin-left: 30px;
}

/* col_sx */
#col_sx img{
    vertical-align: middle;
    margin: 20px;
}

/* col_dx */
.menu_action_dx{
    margin: 20px 30px 0 150px;
}

.menu_action_dx  a{
    font-size: 16px;
    color: var(--black);
    margin-left: 30px;
}

.btn_menu_dx > h6{
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: var(--action);
    height: 25px;
    width: 60px;
    margin-left: 15px;  
}

/*************** MAIN ***************/
/* block_generici */
.blocks{
    position: relative;
    margin-top: 200px;
}

/* block_intro */
.blocks_intro{
    position: relative;
    background-color: var(--secondary_color);
    height: 690px;
}

#block_intro{
    position: absolute;
    width: 83%;
    left: 50%;
    transform: translate(-50%, -0%);
}

#testo_blocco_intro > h1{
    font-size: 76px;
    color: var(--black);
    margin: 50px 0 50px;
}

#col_intro_s > p{
    font-size: 16px;
    color: var(--black);
}

/* block_piani */
.testo_blocco  h2{
    font-size: 40px;
    color: var(--black);
}

.radio{
    margin: 40px 0;
}

.col{
    width: 33%;
}

#titolo_col h6{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid grey ;
}

/* block_community */
#col_community_img{
    height: 529px;
}

#col_community_text{
    padding: 10px 150px 0 80px;
}

#col_community_text h2{
    font-size: 25px;
}

#col_community_text > h2{
    margin: 25px;
}

#col_community_text > p{
    margin: 25px;
}

#btn_community{
    width: 150px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    margin-left: 25px;
    color: black;
}

#btn_community a{
    color: var(--black);
}

/* operazioni */

.testo_operazioni h5{
    font-size: 24px;
    color: var(--black);
}

.testo_operazioni > h5, p{
    padding: 0 40px 20px 40px;
}

.col img{
    width: 85%;
}

/* block_team */
#text_block_team{
    margin-bottom: 50px;
}

#text_block_team h2{
    font-size: 40px;
    color: var(--black);
    padding: 0 650px 30px 0px;
}

#action_text_team a{
    text-decoration: underline;
    color: #0A67FF;
}

/* colonna di sx */
#square_1{
    background-color: var(--square_1_team);
}

#square_2{
    background-color: var(--square_2_team);
}

#square_3{
    background-color: var(--square_3_team);
}

#square_4{
    background-color: var(--square_4_team);
}

/* colonna centrale alta */
#logo_uff{
    height: 100px;
    width: 200px;
    margin-left: 40px;
}

/* colonna di dx */
#square_5{
    background-color: var(--square_5_team);
}

#square_6{
    background-color: var(--square_6_team);
}

#square_7{
    background-color: var(--square_7_team);
}

#square_8{
    background-color: var(--square_8_team);
}

/* colonna centrale bassa */
#col_team_big{
    height: 300px;
    background-color: var(--square_6_team);
    position: relative;
}

#riga_col_team_big{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#testo_porta{
    vertical-align: middle;
}

#testo_porta h2{
    font-size: 40px;
    color: var(--square_2_team);
    max-width: 600px;
}

#action_porta{
    background-color: var(--primary_color);
    color: var(--black);
    width: 300px;
    text-align: center;
    padding: 10px;
    margin-left: 99px;
}

/* block_faq */
#title_faq h2{
    font-size: 32px;
    padding: 20px 0;
}

.question_1, #title_faq{
    border-bottom: 1px solid black;
}

.question_1 p{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}

.question_1 p{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}


.question_1 span{
    font-size: 40px;
    padding: 5px 0;
    margin-left: 500px;
    vertical-align: middle;
}

/*************** FOOTER ***************/

#block_footer{
    width: 70%;
    margin-left: 7.5%;
}

.blocks_footer{
    background-color: var(--black);
    margin-top: 200px;
}

.col_footer{
    background-color: var(--black);
    padding: 20px 0;
}

#title_footer h3{
    font-size: 20px;
    color: var(--primary_color);
}

.ancor_footer a{
    display: block;
    margin-top: 14px;
    color: var(--primary_color);
}

#col_footer_lg{
    background-color: var(--black);
}

/* barra lingua */
#barra_lingua{
    border-top: 1px solid grey;
    margin-top: 100px;
}

.lingua{
    color: grey;
    margin-left: 10px;
}

#freccia_lingua{
    color: grey;
    font-size: 40px;
    margin-left: 20px;
    vertical-align: text-bottom;
}

#img_footer svg{
    height: 30px;
    width: 30px;
    background-color: grey;
    vertical-align: middle;
}