/***** COMMON ROULES *****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/***** DEBUG *****/
/*** debug header ***/

/* debug block_menu */
#debug #block_menu{
    height: 100px;
    background-color: #0061FF;
    margin-bottom: 100px;
}

#debug #col_sx{
    background-color: bisque;
    height: 100px;
}

/* debug block_intro */
.blocks{
    background-color: grey;
    height: 500px;
    margin-bottom: 200px;
}

#debug #block_intro{
    height: 85%;
    background-color: bisque;
}

#debug #col_intro_one{
    background-color: white;
    height: 50%;
}

#debug #col_intro_two{
    height: 50%;
    background-color: black;
}

#debug #col_intro_three{
    height: 50%;
    background-color: red;
}

/*** debug main ***/

/* debug text_block */
#debug .text_block{
    height: 150px;
    background-color: bisque;
}

/* debug block */
#debug .block{
    height: 500px;
    background-color: rgb(187, 227, 86);
}

#debug #block_team{
    height: 500px;
    background-color: rgb(187, 227, 86);
}

#debug #block_footer{
    height: 500px;
    background-color: rgb(187, 227, 86);
}

/***** UTILITY *****/

:root{
    --primary_color: #FFFFFF;
    --secondary_color: #B4D0E7;
    --black:#000000;
    --action: #0061FF;
}

/***** HEADER *****/

/* block_menu */
#block_menu::after{
    content: "";
    display: table;
    clear: both;
}

#col_sx{
    float: left;
    width: 50%;
}

#col_dx{
    float: left;
    width: 50%;
}

/* block_intro */
.blocks{
    position: relative;
}

#block_intro{
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -0%);
}

#row_intro::after{
    content: "";
    display: table;
    clear: both;
}

#col_intro_one{
    float: left;
    width: 100%;
}

#col_intro_two{
    float: left;
    width: 35%;
}

#col_intro_three{
    float: left;
    width: 65%;
}

/***** MAIN *****/

.text_block{
    width: 60%;
    margin: 0 auto;
}

.block{
    width: 60%;
    margin: 0 auto;
}

#block_team{
    width: 100%;
    margin: 0 auto;
}

#block_footer{
    width: 70%;
    margin-left: 7.5%;
}

/***** FOOTER *****/